body {
  margin: 0px;
  /* background-color: #cecbc5; */
}
.backbackground {
  position: absolute;
  background-color: #cecbc5;
  height: 100%;
  width: 100%;
  top: 0;
}
.frontbackground {
  position: absolute;
  background-color: #9c8cb9;
  height: 100%;
  width: 70%;
  top: 0px;
}
.signinorsignup {
  position: fixed;
  top: 200px;
  left: 920px;
  border: 3px solid black;
  height: 400px;
  width: 300px;
  transition: all 5s ease-in-out;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}
.buttoncontainer {
  position: relative;
  border-color: yellow;
  width: 112px;
  height: 41px;
  top: 20px;
  background-color: blue;
  border-radius: 20px;
}
.signupbutton {
  position: absolute; 
  top: 52px;
  left: 100px;
  border-radius: 20px;
  padding: 10px;
  border: 0px;
  width: 80px;
}
.signupbutton:hover {
  cursor: pointer;
}
.inputfield {
  display: block;
  padding: 10px;
  margin-top: 15px;
  margin-left: 62px;
  border-radius: 20px;
  border:0px
}
.registerbutton {
  margin-top: 20px;
  margin-left: 66px;
  padding: 10px;
  padding-left: 12px;
  border-radius: 20px;
  width: 100px;
  border: 0px;
  background-color: tomato;
  cursor: pointer;
}
.loginbutton {
  width: 100px;
  padding: 10px;
  padding-left: 8px;
  padding-bottom: 13px;
  background-color: blue;
  border-radius: 20px;
  margin-top: 24px;
  margin-left: 72px;
  cursor: pointer;
  border: 0px;
}
.signuptopic {
  width: 200px;
  margin-bottom: 30px;
  margin-left: 64px;
  margin-top: 42px;
}
.signintopic {
  width: 200px;
  margin-bottom: 30px;
  margin-left: 64px;
  margin-top: 72px;
}